[submodule "btree_tests/ParallelTools"]
	path = btree_tests/ParallelTools
	url = git@github.com:wheatman/ParallelTools.git
[submodule "btree_tests/leafDS"]
	path = btree_tests/leafDS
	url = git@github.com:itshelenxu/leafDS.git
	branch = main
